@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&display=swap");
:root {
  --primary: #339657;
  --white: #fff;
  --dimGray: #656565;
  --nero: #262626;
}
* {
  padding: 0;
  margin: 0;
  transition: all 0.2s linear;
}

ul {
  list-style: none;
}

body {
  font-family: "League Spartan", sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}
.top-nav {
  background-color: #efefef;
}
.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dimGray);
  font-size: 12px;
  padding: 0.5rem 0;
}
.nav-link {
  color: var(--dimGray);
  text-decoration: none;
}
.primary-navbar {
  background-color: var(--primary);
  padding: 1rem 0;
  color: var(--white);
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-content h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar ul li {
  cursor: pointer;
  margin: 0 1.5rem;
}
.navbar ul li a {
  color: var(--white);
  font-size: 16px;
  text-decoration: none;
}
.fa-bars {
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  display: none;
}
.search {
  width: 15rem;
  height: 2rem;
  border: 2px solid #fff;
  outline: none;
  background: none;
  border-radius: 5rem;
  color: #fff;
  padding: 0 0.5rem;
}
::placeholder {
  color: #fff;
  opacity: 1;
}
.btn {
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5rem;
  font-weight: 600;
}

.home-content {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}
.space1 {
  width: 20%;
}
.home-content .home-info .award {
  border-radius: 5rem;
  margin-bottom: 1rem;
  background-color: #f1f1f1;
  width: 20%;
}
.home-content .home-info .award p i {
  background-color: var(--primary);
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  padding: 0.4rem;
  margin-right: 0.3rem;
}
.home .home-info .award p {
  font-size: 12px;
}
.home-images {
  display: flex;
  align-items: baseline;
}
.home-images .image1 {
  width: 15vw;
  height: 40vh;
  background-color: var(--dimGray);
  border-radius: 1rem;
  margin-right: 15px;
}
.home-images .image2 {
  width: 15vw;
  height: 50vh;
  background-color: var(--dimGray);
  border-radius: 1rem;
}
.home-info {
  width: 40vw;
}
.home-info h1 {
  font-size: 56px;
  margin-bottom: 1rem;
}
.home-info p {
  font-size: 18px;
  color: var(--dimGray);
  line-height: 30px;
  margin-bottom: 1rem;
}
.email {
  padding: 1rem;
  width: 50%;
  border: 2px solid #fff;
  outline: none;
  background: #f1f1f1;
  border-radius: 5rem;
  color: #000;
}
.email::placeholder {
  color: #a7a7a7;
  opacity: 1;
}
.btn2 {
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5rem;
  font-weight: 600;
  color: #fff;
  background-color: #339657;
}
.about {
  background-color: var(--nero);
  color: var(--white);
  padding: 4rem 0;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.space2 {
  width: 50%;
}
.about-content .right-content {
  font-size: 30px;
  width: 100%;
  margin-right: 2rem;
}
.about-content .left-content {
  font-size: 18px;
  line-height: 30px;
  margin-left: 4rem;
}
.ranked {
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ranked .user p span i {
  color: var(--primary);
}
.ranked .user .sm-p {
  font-size: 14px;
}
.solution {
  padding: 7rem 0 0 0;
}
.solution-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}
.solution-content .solution-image img {
  width: 25vw;
  background-color: #f4f4f4;
  border-radius: 40px;
}
.solution-content .solution-info {
  margin-left: 8rem;
}
.solution-content .solution-info h3 {
  font-size: 44px;
  font-weight: 600;
  width: 79%;
  margin-bottom: 1rem;
}
.solution-content .solution-info p {
  color: var(--dimGray);
  font-size: 18px;
  line-height: 30px;
  width: 80%;
  margin-bottom: 1rem;
}
.services {
  background-color: #efefef;
  padding: 7rem 0;
}
.services-header {
  text-align: center;
}
.services-header h2 {
  font-size: 56px;
  margin-bottom: 1.6rem;
}
.services-header p {
  font-size: 18px;
  color: var(--dimGray);
  margin-bottom: 1.6rem;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5rem;
  gap: 30px 30px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 14px;
  padding: 20px;
}
.grid-item i {
  background-color: #b6e6c8;
  border-radius: 50px;
  padding: 0.4rem;
  margin-bottom: 1rem;
}
.grid-item h5 {
  font-size: 22px;
  margin-bottom: 1rem;
}
.grid-item p {
  font-size: 18px;
  width: 85%;
}
.grid-item:hover {
  background-color: var(--primary);
  color: var(--white);
}
.reviews {
  background-color: #1f1f1f;
  color: #fff;
  padding: 5rem 0;
}
.reviews-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews-header{
  margin-bottom: 2rem;
}
.reviews-header span {
  color: var(--primary);
}
.reviews-header p {
  margin: 1rem 0;
  font-size: 44px;
}
.reviews-content .fa-arrow-left {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 0.4rem;
}
.reviews-content .fa-arrow-right {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 0.4rem;
}
.fa-arrow-left:hover {
  border-color: var(--primary);
  color: var(--primary);
}
.fa-arrow-right:hover {
  border-color: var(--primary);
  color: var(--primary);
}
.reviewers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviewer {
  display: flex;
  align-items: center;
  /* border-radius: 10px; */
  margin: 2rem 0;
}
.reviewer .info {
  margin-left: 1rem;
}
.reviewer .info h6 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.reviewers-message {
  width: 50%;
  background-color: #252525;
  padding: 2rem;
  border-radius: 20px;
}
.reviewers-message .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviewers-message .title .review-meassage-header h6 {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 1rem;
}
.reviewers-message p {
  color: #656565;
  margin: 2rem 0;
  width: 75%;
  font-size: 18px;
}
.information{
  background-color: #EFEFEF;
  padding: 5rem 0;
}
.information-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.information-header{
  margin-bottom: 2rem;
}
.information-header .header-info {
  font-size: 35px;
}
.information-content .header-info2{
  width: 70%;
  font-size: 18px;
  line-height: 30px;
}
.information-content .fa-arrow-left {
  border: 1px solid var(--dimGray);
  border-radius: 50px;
  padding: 0.4rem;
  margin-right: 0.3rem;
}
.information-content .fa-arrow-right {
  border: 1px solid var(--dimGray);
  border-radius: 50px;
  padding: 0.4rem;
}
.arrows{
  display: flex;
}
.fa-arrow-left:hover {
  border-color: var(--primary);
  color: var(--primary);
}
.fa-arrow-right:hover {
  border-color: var(--primary);
  color: var(--primary);
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.information-cards{
  margin-top: 3rem;
  display: flex;
}
.information-cards .card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 14px;
  padding: 20px;
  flex: 1 0 30%;
}
.information-cards .card img{
  width: 100%;
}
.information-cards .card h5{
  font-weight: 600;
  font-size: 24px;
  margin: 1rem 0;
  line-height: 36px;
  width: 95%;
}
.information-cards .card p{
  color: var(--dimGray);
  line-height: 30px;
  font-size: 15px;
}
.swiper-navBtn{
  color: #339657;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #339657;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.footer{
  padding: 2rem 0rem;
}
.footer-content{
  position: relative;
  padding: 6rem 4rem;
  background-color: #339657;
  text-align: center;
  color: var(--white);
}
.wave{
  position: absolute;
  top:0;
  left: 0;
  height: 11rem;
  width: 100%;
  background: url(../images/wave.png);
  background-size: 100rem 11rem;
  background-repeat: repeat-x;
  animation: waves 15s linear infinite;
}
.wave2{
  animation-duration: 5s;
  opacity: .5;
}
.wave3{
  animation-direction: reverse;
  opacity: .2;
}
.footer-content h3{
  font-size: 44px;
  margin-bottom: 2rem;
}
.footer-content p{
  font-size: 18px;
  margin-bottom: 2rem;
}

.footer-content .email {
  padding: 0.6rem;
  width: 35%;
  border: 2px solid #fff;
  outline: none;
  background: #f1f1f1;
  border-radius: 5rem;
  color: #000;
}
.footer-content .btn2 {
  position: absolute;
  top: 1%;
  right: 32%;
  padding: 0.6rem;
  border: none;
  cursor: pointer;
  border-radius: 5rem;
  font-weight: 600;
  color: #fff;
  background-color: #000;
}
.email-subscribe{
  position: relative;
}
@keyframes waves{
  0%{
      background-position-x: 0;
  }
  100%{
      background-position-x: 100rem;
  }
}
.footer-content2{
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}
.medifisio{
  width: 25%;
}
.footer-content2 .medifisio h5{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.footer-content2 .medifisio p{
  color: var(--dimGray);
  margin-bottom: 1rem;
}
.footer-content2 .medifisio i{
  padding: 0.5rem;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
}
.footer-info{
  display: flex;
}
.footer-info .navigate{
  margin-right: 3rem;
}
.footer-info .navigate h5{
  margin-bottom: 1rem;
  font-size: 16px;
}
.footer-info .navigate p{
  margin-bottom: 1rem;
}
.footer-info .navigate a{
  text-decoration: none;
  color: #656565;
}
.footer-info .navigate a:hover{
  color: #339657;
}
.bottom-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #A7A7A7;
}
.bottom-footer p{
  margin-top: 1rem;
  font-size: 14px;
}
/* media queries */
@media (max-width: 1003px) {
  .container {
    width: 90%;
  }
  .space1,
  .space2 {
    width: 0%;
  }
  .header .fa-bars {
    display: block;
  }
  .header .navbar {
    flex-flow: column;
    padding: 2rem 0;
    position: fixed;
    top: -135%;
    left: 0%;
    height: auto;
    width: 100%;
    background-color: var(--primary);
    z-index: 1000;
    border-top: 0.3rem solid rgba(0, 0, 0, 0.2);
  }

  .header .navbar ul {
    height: 100%;
    width: 100%;
    flex-flow: column;
  }
  .header .navbar ul li {
    margin: 1rem 0;
  }
  .header .fa-times {
    transform: rotate(180deg);
  }
  .header .nav-toggle {
    top: 5.8rem;
  }
  .home-content {
    flex-flow: column;
  }
  .home-content .home-info .award {
    width: 30%;
  }
  .home-images {
    width: 100%;
  }
  .home-images .image1 {
    width: 50%;
    height: 30%;
  }
  .home-images .image2 {
    width: 50%;
    height: 50%;
  }
  .home-info {
    width: 100%;
    margin-bottom: 3rem;
  }
  .email {
    width: 65%;
  }
  .about-content {
    flex-flow: column;
  }
  .about-content .right-content {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .about-content .left-content {
    font-size: 16px;
    line-height: 28px;
    margin-left: 0rem;
  }
  .ranked {
    width: 50vw;
  }

  .solution-content {
    margin-bottom: 5rem;
    flex-flow: column;
  }
  .solution-content:nth-child(even) {
    flex-flow: column-reverse;
  }
  .solution-content .solution-image img {
    width: 50vw;
  }
  .solution-content .solution-info {
    margin-left: 0;
  }
  .solution-content .solution-info h3 {
    font-size: 33px;
    font-weight: 600;
    width: 90%;
    margin: 2rem 0;
  }
  .solution-content .solution-info p {
    color: var(--dimGray);
    font-size: 18px;
    line-height: 30px;
    width: 80%;
    margin-bottom: 1rem;
  }
  .services {
    padding: 5rem 0;
  }
  .services-header{
    text-align: left;
  }
  .services-header h2 {
    font-size: 50px;
  }
  .services-header p {
    font-size: 16px;
  }
  .grid-container {
    grid-template-columns: auto;
    padding: 0rem;
  }
  .reviews-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .reviewers {
    flex-flow: column;
    align-items: flex-start;
  }
  .reviewer .info h6 {
    font-size: 24px;
  }
  .reviewers-message {
    width: 85%;
  }
  .commas{
    display: flex;
  }
  .reviewers-message p {
    width: 100%;
  }
  .information-content {
    display: flex;
    flex-flow: column;
  }
  .information-header .header-info {
    font-size: 35px;
  }
  .information-content .header-info2{
    width: 100%;
    margin-bottom: 1rem;
  }
  .information-cards .card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 14px;
    padding: 2rem 3rem;
  }
  .information-cards .card img{
    width: 60vw;
  }
  .information-cards .card h5{
    font-weight: 600;
    font-size: 18px;
    margin: 1rem 0;
    line-height: 36px;
    width: 95%;
  }
  .information-cards .card p{
    color: var(--dimGray);
    line-height: 30px;
    font-size: 15px;
  }
  .footer-content h3{
    font-size: 35px;
    margin-bottom: 2rem;
  }
  .footer-content p{
    font-size: 16px;
  }
  .footer-content .email {
    width: 85%;
  }
  .footer-content .btn2 {
    top: 1.5%;
    right: 5%;
  }
  .footer-content2{
    flex-flow: column;
  }
  .medifisio{
    width: 100%;
    margin-bottom: 1rem;
  }
  .footer-content2 .medifisio h5{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .footer-content2 .medifisio p{
    color: var(--dimGray);
    margin-bottom: 1rem;
  }
  .footer-info{
    flex-flow: wrap;
  }
  .footer-info .navigate{
    margin-right: 2rem;
  }
  .slide-content{
    margin: 0 10px;
  }
  
}
